<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Register User</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <span id="mainIcon" class="glyphicon glyphicon-user"></span>
              <h2>Register User</h2> 
              <div class="">
                  <input type="text" name="name" id="txtName" class="form-control" value="" required="required" placeholder="Name">
                  <input type="email" name="email" id="txtEmail" class="form-control" value="" required="required" placeholder="Email">  
              </div> 
              <button class="btn btn-lg upload-btn btn-block" type="button">Register User</button>       
              <div class="progress boxProgress">
                <div class="progress-bar" role="progressbar"></div>
              </div>
              <div class="boxProgress"> 
                <label id="progressLabel" class="label">0%</label>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
    <input id="upload-input" type="file" name="file" >  
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/upload.js"></script>
</body>
</html>